name: PHPUnit
on: [pull_request]
jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.4', '8.4']
    name: PHP ${{ matrix.php-versions }}

    steps:
    - uses: actions/checkout@v4
    - uses: shivammathur/setup-php@v2
      with:
          php-version: ${{ matrix.php-versions }}
    - uses: shogo82148/actions-setup-mysql@v1
      with:
        mysql-version: '8.0'
        root-password: 'root'

    - name: Create test database
      run: |
        mysql -uroot -proot -h127.0.0.1 -e 'SELECT version()';
        mysql -uroot -proot -h127.0.0.1 -e 'CREATE DATABASE foldsnap_phpunit_tests';

    - name: Validate composer.json
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: tools/extra-composer/phpunit/vendor
        key: ${{ runner.os }}-phpunit-${{ hashFiles('tools/extra-composer/phpunit/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-phpunit-

    - name: Install PHPUnit dependencies
      run: composer update --working-dir=./tools/extra-composer/phpunit --prefer-dist --no-progress

    - name: Install SVN
      run: sudo apt-get update && sudo apt-get install -y subversion

    - name: Check versions
      run: |
        curl --version;
        svn --version;
        mysqladmin --version;
        php --version;

    - name: Install WordPress test environment
      run: |
        cp ./tools/phpunit-install-config-github.json ./tools/phpunit-install-config.json;
        composer phpunit-install;

    - name: Run PHPUnit tests
      run: composer phpunit
